[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geckodriver = "*"
pytest-xdist = "*"
pytest = "==7.3.2"
allure-pytest = "*"
pytest-allure-adaptor = "*"

[dev-packages]

[requires]
python_version = "3.11"
